APP_ENV=development
APP_URL=http://localhost:6002

# App
NODE_ENV=local
APP_PORT=6002
APP_NAME=education
FE_APP_URL=http://localhost:5000

# Database PostgreSQL
DB_POSTGRES_DATABASE=
DB_POSTGRES_HOST=
DB_POSTGRES_USERNAME=
DB_POSTGRES_PASSWORD=
DB_POSTGRES_PORT=
DB_POSTGRES_SYNCHRONIZE=false
DB_POSTGRES_LOGGING=false
DATABASE_URL=postgresql://${DB_POSTGRES_USERNAME}:${DB_POSTGRES_PASSWORD}@${DB_POSTGRES_HOST}:${DB_POSTGRES_PORT}/${DB_POSTGRES_DATABASE}

API_KEY_PRISMA=

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password
REDIS_SESSION_EXPIRES_IN=1296000 #15d
REDIS_SCAN_COUNT=100

MAIL_USER=MAIL_USER
MAIL_PASS=MAIL_PASS
MAIL_FROM='no-reply@devplus.com'
